<h2>Cooks</h2>
  <table class="table">
    <tr>
      <th>料理名</th>
      <th>メモ</th>
    </tr>
    <% @cooks.each do |cook| %>
    <tr>
      <td><%= link_to cook.cooking_name, cook_path(cook.id) %></td>
      <td><%= cook.description %></td>
    </tr>
    <% end %>
  </table>