<div class="newform col-10 offset-1">
  <h4 class="row-12 my-1">
    <strong>お知らせ</strong>
  </h4>

  <!--削除ボックス-->
  <%= link_to destroy_all_notification_path, method: :delete do %>
    <i class="fas fa-trash" style="color: #223a70;"></i><span style="color: #223a70;"><strong>全削除</strong></span>
  <% end %>
  <!--end-->
　<!--通知文-->
  <% if notifications.exists? %>
    <% notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  <% else %>
    <p class="m-0">通知はありません</p>
  <% end %>
  <!--end-->
</div>
