<h4 class="row-12"><strong>ユーザー情報</strong></h4>
  <table>
    <%= attachment_image_tag @user, :profile_image, size:"120x120", format: 'jpeg', class: "rounded-circle d-block mx-auto mt-3" %>
    <tr class="row-12">
      <th width="40%">name</td>
      <td width="60%" class="text-center"><%= link_to @user.nickname, "/users/#{@user.nickname}" %></td>
    </tr>
    <tr class="row-12">
      <th width="40%">Introduction</th>
    </tr>
    <tr class="row-12">
      <td class="text-break text-center"> <%= @user.introduction %></td>
    </tr>
  </table>

<% if user ==  current_user %>
  <div class="actions">
    <%= link_to '編集', user_nickname_edit_path(@user.nickname), class: "btn btn-sm btn-outline-success mt-1 btn-block" %>
  </div>
<% end %>