<h3>ユーザー情報</h3>
  <table>
    <tr>
      <%= attachment_image_tag @user, :profile_image, size:"60x60", format: 'jpeg', class: "rounded-circle" %>
    </tr>
    <tr>
      <th>name</th>
      <th><%= @user.nickname %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th> <%= @user.introduction %></th>
    </tr>
  </table>

<% if user ==  current_user %>
  <%= link_to '編集', user_nickname_edit_path(@user.nickname) %>
<% end %>